<form name="staticcontent" method="post" action="" id="socialfeeds">
	<input type="hidden" name="{{form_state_action}}" value="makeitso">
	{{#element_id}}<input type="hidden" name="element_id" value="{{element_id}}" />{{/element_id}}
	{{#element_type}}<input type="hidden" name="element_type" value="{{element_type}}" />{{/element_type}}
	<h3>Element Details</h3>
	
	<label for="element_name">Name</label><br />
	<input type="text" id="element_name" name="element_name" value="{{#element_name}}{{element_name}}{{/element_name}}"{{^element_name}} placeholder="Give It A Name"{{/element_name}} /> 

	<div class="row_seperator">.</div><br />
	<div>
		<label>Content</label><br />
		<textarea id="element_content" name="element_content" class="tall">{{#options_storedcotent}}{{{options_storedcotent}}}{{/options_storedcotent}}</textarea>
	</div>
	
	<div class="row_seperator">.</div><br />
	<input class="button" type="submit" value="{{element_button_text}}" />
</form>